<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de espera - FastEcuation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./static/public/css/sala-de-espera.css">
    <link rel="stylesheet" href="./static/public/css/estilos-globales.css">
</head>
<body>
    <div class="row">
        <div class="col-md-4 barraLateral">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptas repellendus magni sapiente eos! Nemo porro odit qui a numquam.
        </div>
        <div class="col-md-8">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptas repellendus magni sapiente eos! Nemo porro odit qui a numquam.
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/js/bootstrap.min.js" integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./static/public/js/sala-de-espera.js"></script>
</body>
</html>