@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.btnColorOne {
    background-color: #147589!important;
    border: none;
    border-color: transparent;
}

.row {
    width: 100vw;
    margin: 0;
}

.centradoTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}